.App {
  text-align: center;
}

.container {
  position: relative;
}

.router {
  width: 100%;
}

.page {
  /* position: absolute;
  left: 15px;
  right: 15px; */
  overflow: hidden;
  background: #ffffff;
}

.page-enter {
  position: relative;
}

.page-enter-active {
  position: relative;
}

.page-enter-done {
  position: relative;
}

.page-exit {
  position: relative;
}

.page-exit-active {
  position: relative;
}

.page-exit-done {
  position: relative;
}

.page-scroll-block {
  position: fixed !important;
  overflow: hidden !important;
  max-height: 100vh !important;
  pointer-events: none;
}

.veil {

}

.veil-enter {
  opacity: 0;
}
.veil-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.veil-exit {
  opacity: 1;
}
.veil-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

//////////////////////////////////////
// preview

.preview-container {
  max-width: 1280px;
  margin: 0 auto;
  overflow-x: hidden;
  word-break: keep-all;
  word-wrap: break-word;
}

.preview-nav {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 100px;
  padding-bottom: 100px;

  @media only screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -4rem;
    margin-right: -4rem;
  }
}

.preview-link {
  display: block;
  width: 100%;
  text-decoration: none;

  @media only screen and (max-width: 768px) {
    & + & {
      margin-top: 6rem;
    }
  }

  @media only screen and (min-width: 768px) {
    width: 50%;
    padding-left: 4rem;
    padding-right: 4rem;
    box-sizing: border-box;

    &:nth-child(even) {
      margin-top: 10rem;
    }
  }
}

.preview-wrap {
  position: relative;
}

.preview-cont {
  // position: absolute;
  // bottom: 0;
  position: relative;
  padding-left: 2rem;
  padding-right: 2rem;
  box-sizing: border-box;
  width: 100%;
  color: black;
  background-color: #ffffff;

  .publish {
    display: block;
    margin-top: 2rem;
    opacity: 0.6;
  }

  .tit {
    font-size: 30px;
    font-weight: bold;
  }

  .desc {
    margin: 0;
    margin-top: 1em;
    font-size: 14px;
    opacity: 0.8;
  }
}

.preview {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  height: 440px;
}