.App {
  text-align: center;
}

.container {
  position: relative;
}

.router {
  width: 100%;
}

.page {
  /* position: absolute;
  left: 15px;
  right: 15px; */
  overflow: hidden;
}

.page-enter {
  position: relative;
  // position: absolute;
  /* opacity: 0; */
  // transform: scale(1.02);
  // z-index: 10;
}

.page-enter-active {
  position: relative;
  // opacity: 1;
  // transform: scale(1);
  /* transition: opacity 300ms, transform 300ms; */
}

.page-enter-done {
  position: relative;
}

.page-exit {
  position: relative;
  // position: absolute;
  // opacity: 1;
  // transform: scale(1);
  // z-index: 10 - 1;
}

.page-exit-active {
  position: relative;
  /* opacity: 0; */
  // transform: scale(0.98);
  // transition: opacity 300ms, transform 300ms;
}

.page-exit-done {
  position: relative;
}

.page-scroll-block {
  position: fixed !important;
  overflow: hidden !important;
  max-height: 100vh !important;
  pointer-events: none;
}

//////////////////////////////////////
// preview

.preview-container {
  max-width: 1280px;
  margin: 0 auto;
}

.preview-nav {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 100px;
  padding-bottom: 100px;

  @media only screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -3rem;
    margin-right: -3rem;
  }
}

.preview-link {
  display: block;
  width: 100%;
  text-decoration: none;

  & + & {
    margin-top: 4rem;
  }

  @media only screen and (min-width: 768px) {
    width: 50%;
    padding-left: 3rem;
    padding-right: 3rem;
    box-sizing: border-box;
  }
}

.preview-wrap {
  position: relative;
}

.preview-cont {
  // position: absolute;
  // bottom: 0;
  position: relative;
  left: 2rem;
  width: 100%;
  color: black;
  background-color: #ffffff;

  .publish {
    display: block;
    margin-top: 2rem;
    opacity: 0.6;
  }

  .tit {
    font-size: 30px;
    font-weight: bold;
  }

  .desc {
    margin: 0;
    margin-top: 1em;
    font-size: 14px;
    opacity: 0.8;
  }
}

.preview {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  height: 440px;

  .cover {
    position: relative;
    // height: 100%;
    // height: 440px;

    .title {
      // font-size: 42px;
    }
  }
}

.cover {
  position: relative;
  height: 100vh;
  max-height: 700px;
  .img-wrap {
    width: 100%;
    height: 100%;

    img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .title {
    position: absolute;
    top: 30%;
    left: 20px;
    color: #ffffff;
    font-size: 56px;
  }
}


////////////////////////////////////
.post {
  position: relative;
  min-height: 100vh;
  background-color: white;
  // padding-bottom: 100px;

  h3 {
    line-height: 1;
  }

  img,
  video {
    width: 100%;
  }
}